body{
    background-color: #61A4BC;
    font-family: 'Roboto', sans-serif;
    margin: 200px auto;
    text-align: center;}

button{
    font-size: 80px;
    margin: 10px;
}

h2{color: white;
    font-size: 60px;}